.sidebar {
	box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.05);
	padding: 40px;
	position: relative;
	height: 100vh;
	min-width: 270px;
	align-items: center;
}

.title {
	font-size: 16px;
	font-weight: 500;
	color: #909090;
	margin-bottom: 30px;
	text-align: start;
	padding: 10px;
}

.link {
	border: 2px solid transparent;
	padding: 10px;
	width: 100%;
	border-radius: 4px;
	font-weight: 600;
	font-size: 18px;
	text-align: start;
	display: block;
	color: #909090;
}

.link:focus {
	border-color: #0a0a27;
	outline: none;
}

.copyright {
	position: absolute;
	bottom: 25px;
	left: 15px;
	font-size: 12px;
	font-weight: 400;
}

.logo {
	display: inline;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	margin-bottom: 2px;
}

.sidebar-icon {
	margin-right: 3px;
	display: inline;
	margin-bottom: 3px;
}
